@media screen and (min-device-width: 0px){
    input, textarea, select, button {
        border: 0.0625rem solid black;
    }

    .Warehouse-Edit__page {
        // move later
        margin-top: 1.875rem;

        margin-left: 1rem;
        margin-right: 1rem;
        border: 0.0625rem solid black;
    }

    .Warehouse-Edit__header {
        display: flex;
        flex-direction: row;
        border-bottom: 0.0625rem solid black;
    }

    .Warehouse-Edit__formblock--warehouse-details {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.625rem;
        border-bottom: 0.0625rem solid black;
    }

    .Warehouse-Edit__formblock--contact-details {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.625rem;
    }

    .Warehouse-Edit__buttonblock {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: row;
        padding-bottom: 0.625rem;
        border-bottom: 0.0625rem solid black;
    }
}

@media screen and (min-device-width: 768px){
    .Warehouse-Edit__page {
        // move later
        margin-top: 1.875rem;

        margin-left: 0rem;
        margin-right: 0rem;
        border: none;
    }
    
    .Warehouse-Edit__header {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        border-bottom: 0.0625rem solid black;
        border: 0.0625rem solid black;
    }

    .Warehouse-Edit__form {
        border: 0.0625rem solid black;
    }

    .Warehouse-Edit__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Warehouse-Edit__formblock--warehouse-details {
        border-bottom: none;
        border-right: 0.0625rem solid black;
    }
}

@media screen and (min-device-width: 1280px){
}