@use "variable" as *;

//Font SemiBold 
@font-face {
    font-family: "TitilliumWeb-SemiBold";
    src: url(../../assets/Fonts/TitilliumWeb-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

//Font Regular
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url(../../assets/Fonts/TitilliumWeb-Regular.ttf) format("truetype");
    font-weight: 400;
}