// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

// Primary Colors
$instock-graphite: #232940;
$instock-eggshell: #D1D1D1;
$instock-black: #13182C;


// Secondary Colors
$instock-white: #ffffff;
$instock-cloud: #BDC5D5;
$instock-slate: #5C667E;
$instock-blue: #2E66E5;


// Teriary Colors
$instock-green: #158463;
$instock-orange: #C94515;

// API Key