@media screen and (min-device-width: 0px){
    .Inventory-Delete__page {
        // move later
        margin-top: 1.875rem;

        margin-left: 1rem;
        margin-right: 1rem;
        border: 0.0625rem solid black;
    }
}

@media screen and (min-device-width: 768px){
}

@media screen and (min-device-width: 1280px){
}