@media screen and (min-device-width: 0px){
    .Inventory-Item__allinfo--info.OutofStock {
        background-color: #C9451512;
        color: #C94515;
        border-radius: 20px;
        padding: 2px;
    }

    .Inventory-Item__allinfo--info.InStock {
        background-color: #15846312;
        color: #158463;
        border-radius: 20px;
        padding: 2px;
    }

    .Inventory-Item__page {
        display: flex;
        flex-direction: column;
        border-bottom: 0.0625rem solid black;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .Inventory-Item__allinfo--tablettitlegroup {
        display: none;
    }

    .Inventory-Item__allinfo {
        display: flex;
        flex-direction: row;
        gap: 3.125rem;
    }

    .Inventory-Item__allinfo--infoblock {
        padding-bottom: 20px;
        padding-left: 24px;
    }

    .Inventory-Item__allinfo--info {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        color: #13182C;
        
    }

    .Inventory-Item__allinfo--itemName {
        color: #2E66E5;
    }

    .Inventory-Item__allinfo--mobiletitle {
        font-size: 11px;
        color: #5C667E;
        padding-bottom: 4px;
    }

    .Inventory-Item__allinfo--name {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Inventory-Item__action {
        display: flex;
        flex-direction: row;
        gap: 3.125rem;
    } 

    .Inventory-Item__action--icongroup {
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: row;
        gap: 240px;
    }

}

@media screen and (min-device-width: 768px){
    .Inventory-Item__page {
        display: flex;
        flex-direction: row;
        gap: 0px; 
        border-bottom: 0.0625rem solid black;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .Inventory-Item__allinfo {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
    }

    .Inventory-Item__allinfo--infoblock {
        height: 22px;
        padding-bottom: 0px;
    }

    .Inventory-Item__tablettitle--inventoryitem {
        padding-left: 32px;
        width: 120px;
    }

    .Inventory-Item__tablettitle--category {
        padding-left: 32px;
        width: 70px;
    }

    .Inventory-Item__tablettitle--status {
        padding-left: 60px;
        width: 75px;
    }

    .Inventory-Item__tablettitle--qty {
        padding-left: 125px;
        width: 30px;
    }

    .Inventory-Item__allinfo--info {
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }

    .Inventory-Item__allinfo--mobiletitle {
        display: none;
    }

    .Inventory-Item__action {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .Inventory-Item__action--icongroup {
        gap: 24px;
        margin-left: 60px;
        padding-right: 0px;
        padding-left: 0px;
    }

}

@media screen and (min-device-width: 1280px){
    .Inventory-Item__tablettitle--category {
        padding-left: 114px;
    }

    .Inventory-Item__tablettitle--status {
        padding-left: 102px;
    }

    .Inventory-Item__tablettitle--qty {
        padding-left: 205px;
    }

    .Inventory-Item__action--icongroup {
        margin-left: 130px;
    }
}