@media screen and (min-device-width: 0px){
    .Inventory-Item__page {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    .Inventory-Item__allinfo {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .Inventory-Item__allinfo--info {
        display: flex;
        flex-direction: column;
    }

    .Inventory-Item__allinfo--name {
        display: flex;
        flex-direction: row;
    }

    .Inventory-Item__action {
        display: flex;
        flex-direction: row;
        gap: 50px;
    } 

    .Inventory-Item__action--icon {
        width: 30px;
        height: 30px;
    }

    .Inventory-Item__action--title {
        display: none;
    }
}

@media screen and (min-device-width: 768px){
    .Inventory-Item__page {
        display: flex;
        flex-direction: row;
        gap: 50px; 
        border-bottom: 1px solid black;
    }

    .Inventory-Item__allinfo {
        display: flex;
        flex-direction: row;
    }

    .Inventory-Item__allinfo--info {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .Inventory-Item__action {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .Inventory-Item__action--title {
        display: flex;
    }

}

@media screen and (min-device-width: 1280px){
}