@media screen and (min-device-width: 0px){
    .Inventory-Edit__page {
        // move later
        margin-top: 30px;

        margin-left: 16px;
        margin-right: 16px;
        border: 1px solid black;
    }

    .Inventory-Edit__header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
    }

    .Inventory-Edit__block--item-details {
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    .Inventory-Edit__block--item-availability {
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
    }

    .Inventory-Edit__block--status {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .Inventory-Edit__block--editbutton {
        padding-left: 24px;
        padding-right: 24px;
        border-bottom: 1px solid black;
    }
}

@media screen and (min-device-width: 768px){
    .Inventory-Edit__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Inventory-Edit__block--item-details {
        border-bottom: none;
        border-right: 1px solid black;
    }
    
}

@media screen and (min-device-width: 1280px){
}