@media screen and (min-device-width: 0px){
    .Inventory-Edit__page {
        // move later
        margin-top: 1.875rem;

        margin-left: 1rem;
        margin-right: 1rem;
        border: 0.0625rem solid black;
    }

    .Inventory-Edit__header {
        display: flex;
        flex-direction: row;
        border-bottom: 0.0625rem solid black;
    }

    .Inventory-Edit__block--item-details {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;
        border-bottom: 0.0625rem solid black;
    }

    .Inventory-Edit__block--item-availability {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .Inventory-Edit__block--status {
        display: flex;
        flex-direction: row;
        gap: 1.875rem;
    }

    .Inventory-Edit__block--editbutton {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-bottom: 0.0625rem solid black;
    }
}

@media screen and (min-device-width: 768px){
    .Inventory-Edit__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Inventory-Edit__block--item-details {
        border-bottom: none;
        border-right: 0.0625rem solid black;
    }
    
}

@media screen and (min-device-width: 1280px){
}