@media screen and (min-device-width: 0px){
    .Warehouse-Details__page {
        // move later
        margin-top: 30px;

        margin-left: 16px;
        margin-right: 16px;
        border: 1px solid black;
    }

    .Warehouse-Details__header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
    }

    .Warehouse-Details__header--edit {
        background-color: blue;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .Warehouse-Details__block {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    .Warehouse-Details__block--contact {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

}

@media screen and (min-device-width: 768px){
    .Warehouse-Details__block {
        display: flex;
        flex-direction: row;
        gap: 30px;
        border-bottom: none;
    }

    .Warehouse-Details__block--address {
        border-right: 1px solid black;
    }
}

@media screen and (min-device-width: 1280px){
}